/* Juan Useche: Procuren organizar su CSS diviendo lo que son los clases Id's y componentes, pueden hacerlo mediante comentarios como headers */

:root {
    --blue: #4687d6;
    --green: #1db954;
    --white: #f8f8f8;
    --black: #282c34;
}

body {
    background-color: #282c34;
}

#spotitfy-img {
    background: url("/images/Spot-it-fy.png") no-repeat center;
    background-size: contain;
    height: 100px;
    top: 20px;
    position: relative;
}

#login-name-link,
#login-sign-in-link {
    color: white;
}

#accounts-wrapper-container {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px;
    z-index: 100;
}

#login-dropdown-list {
    top: 30px;
    right: 10px;
    left: auto;
}

#login-buttons .login-close-text {
    float: right;
}

#login-buttons .login-button, .accounts-dialog .login-button,
#login-buttons button.login-button {
    background-color: var(--green);
    border: 1px solid transparent;
    font-weight: bold;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
}

.login-button .login-button-form-submit {
    background-color: var(--green);
}

#spotitfy-instructions-container > div {
    padding: 55px 50px;
    border-radius: 20px;
    box-shadow: 0 0 12px -3px black;
    font-size: 1.3em;
    line-height: 0;
}

#spotitfy-instructions-container > div:nth-child(1) {
    background-color: var(--black);
    transform: rotate(10deg) translate(20px, 77px);
    z-index: 1;
    border: 2px solid white;
    color: white;
}

#spotitfy-instructions-container > div:nth-child(2) {
    background-color: var(--green);
    z-index: 2;
    transform: rotate(-2deg);
    text-align: right;
}

#spotitfy-instructions-container > div:nth-child(3) {
    background-color: var(--black);
    transform: rotate(4deg) translateY(-30px);
    border: 2px solid white;
    color: white;
    text-align: center;
}

#spotitfy-instructions-container {
    padding: 20px;
}

button {
    outline: none;
}

