.SelectPlaylist { 
  color: var(--white);

}

.playlistsContainer { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin:80px;
}

.playlistsTitle{
  text-align: center;
}